@import "normalize.css";
@import "font-awesome.min.css";

body {
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    background-color: white;
    color: #333;
}

div {
    box-sizing: border-box;
}

.btn-b {
    background-color: #0088cc;
    border-color: #0088cc;
    color: #ffffff!important;
    display: block;
    box-shadow: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.clear {
    clear: both;
}

.container {
    max-width: 960px;
    margin: auto;
}

header {
    padding-top: 30px;
    border-top: 2px solid #0088cc;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.136);
    position: relative;
}

.header-logo {
    float: left;
    height: 40px;
    width: 190px;
}

nav {
    margin-top: 30px;
    border-top: 1px solid #efefef;
}

.search {
    line-height: 51px;
    float: right;
    margin-right: 15px;
    color: #1d2029;
    cursor: pointer;
}

.search-area {
    position: absolute;
    bottom: -60px;
    z-index: 100;
    height: 60px;
    display: none;
    width: 100%;
    background: none repeat scroll 0 0 #e0e7ec;
    border: medium none;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
    padding: 13px 0;
}

.search-button {
    width: 8%;
    float: left;
    box-shadow: none;
    border: none;
    line-height: 34px;
    height: 34px;
    padding: 0;
    margin-left: 1%;
}

.search-close {
    float: right;
    font-size: 20px;
    line-height: 34px;
    cursor: pointer;
    margin-right: 15px;
}

.search-input {
    background: none repeat scroll 0 0 #ffffff;
    border: none;
    color: #444444;
    float: left;
    height: 34px;
    line-height: 18px;
    padding: 0 10px;
    vertical-align: top;
    width: 80%;
}

nav ul {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav li {
    float: left;
}

nav a {
    font-size: 14px;
    color: #1d2029;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    display: block;
    padding: 15px 20px 16px;
    position: relative;
    text-transform: uppercase;
}

nav a:hover, .nav-active {
    color: #0088cc;
}

.header-title {
    width: 200px;
    font-size: 18px;
    float: left;
    margin-top: 5px;
    padding: 0;
    margin-left: 40px;
    line-height: 16px;
}

.header-right {
    float: right;
    width: 50%;
}

.header-number {
    float: right;
    margin-right: 20px;
}

.header-number a {
    font-size: 18px;
    text-decoration: none;
    color: #a6a6a6;
    font-weight: bold;
}

.header-number b {
    color: #222222;
}

.hn-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;

}

.hn-velcom {
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url(../images/velcom.svg);
}

.hn-mts {
    background-repeat: no-repeat;
    background-size: 20px;
    background-image: url(../images/mts.svg);
}

.hn-home {
    font-size: 22px;
    color: #0088cc;
}

.middle {
    height: 400px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    background: -ms-linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
    background: -o-linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
    background: -moz-linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
    background: -webkit-linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
    background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}

.middle-logo {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    display: block;
    margin: 0;
    padding: 70px 0 0 0;
}

.middle-plus {
    margin-top: 40px;
}

.middle-plus li {
    color: #ffffff;
    margin-top: 10px;
    font-size: 25px;
}

.plus {
    padding-top: 40px;
}

.plus-logo {
    margin-bottom: 20px;
    padding-bottom: 11px;
    display: block;
    font-weight: bold;
    border-bottom: 2px solid #0088cc;
    font-size: 24px;
    line-height: 20px;
}

.pl {
    width: 30%;
    margin-left: 5%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 130px;
}

.pl:nth-child(3n + 1) {
    margin-left: 0;
}

.pl-img {
    width: 30%;
    float: left;
}

.pl-right {
    width: 60%;
    float: right;
}

.pl-logo {
    font-size: 16px;
    font-weight: bold;
    color: #0088cc;
}

.pl-right p {
    font-size: 12px;
    line-height: 18px;
    color: #555555;
    margin: 10px 0 0;
    padding: 0;
}

.main-call {
    border-left: 2px solid #0088cc;
    background: url(../images/call.png) #eaf0f2 0 0 repeat;
    color: #2f383d;
    margin-bottom: 40px;
    margin-top: 30px;
    padding: 37px 50px;
}

.mc-left {
    width: 70%;
    float: left;
}

.mc-right {
    width: 30%;
    float: right;
}

.mc-logo {
    font-size: 28px;
    font-weight: bold;
    display: block;
    line-height: 22px;
}

.mc-description {
    font-size: 13px;
    margin-top: 20px;
    display: block;
}

.mc-button {
    width: 150px;
    position: relative;
    top: 20px;
    cursor: pointer;
    float: right;
    padding: 10px 20px;
}


.page {
    padding-top: 25px;
}

.page-logo {
    font-size: 32px;
    line-height: 26px;
    font-weight: 500;
}

aside {
    width: 25%;
    margin-top: 25px;
    float: left;
    border-bottom: 1px solid #ebeef1;
}

.categ-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.categ-menu a {
    display: block;
    text-decoration: none;
    border-top: 1px solid #ebeef1;
    font-size: 16px;
    padding: 11px 27px 13px 13px;
    color: #2f383d;
}

.categ-menu a:hover, .categ-active  {
    border-top: 1px solid #0088cc;
    background-color: #0088cc;
    color: #ffffff!important;
}

.page-content {
    float: right;
    min-height: 300px;
    margin-top: 25px;
    width: 70%;
}

.ct-text p {
    font-size: 14px;
    padding: 0;
    margin: 0;
}


.ct {
    margin-top: 20px;
    width: 48%;
    float: left;
    text-decoration: none;
    height: 180px;
    margin-left: 4%;
}

.ct:nth-child(2n  + 1) {
    margin-left: 0;
}

.ct-img {
    width: 40%;
    float: left;
}

.ct-logo {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #0088cc;

}

.ct-right {
    width: 55%;
    float: right;
}

.ct-description {
    font-size: 12px;
    line-height: 18px;
    color: #222222;
}

.bread {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.bread li {
    font-size: 14px;
    float: left;
    margin-top: 25px;
    margin-right: 8px;
}

.bread a, .bread span {
    color: #222222;
    text-decoration: none;
}

.bread li:before {
    font-family: FontAwesome;
    content: "\f054";
    font-size: 7px;
    padding: 0 12px;
    vertical-align: middle;
}

.bread li:first-child:before {
    display: none;
}

.goods {
    margin-top: 15px;
}

.good {
    margin-bottom: 15px;
    padding: 24px 20px 19px;
    border: 1px solid #e2e7eb;
    width: 32%;
    float: left;
    margin-left: 2%;
}

.good:nth-child(3n + 1) {
    margin-left: 0;
}

.good-img {
    width: 100%;
    height: 130px;
    display: block;
    margin: auto;
}

.good-logo {
    padding: 0;
    font-size: 15px;
    min-height: 55px;
    margin-top: 20px;
    margin-bottom: 0;
    line-height: 18px;
    display: block;
    text-decoration: none;
    color: #0088cc;
    font-weight: bold;
}

.good a {
    text-decoration: none;
    color: #0088cc;
}

.good-price {
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-top: 10px;
}

.good-button {
    padding: 6px 10px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

.single {
    padding: 31px 7px 27px 28px;
    border: 1px solid #d7dee3;
}

.single-img {
    float: left;
    width: 30%;
}

.single-right {
    width: 65%;
    float: right;
}

.single-short p {
    color: #555555;
    font-size: 13px;
    line-height: 20px;
    padding: 0;
    margin: 0;
}

.single-price {
    display: block;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.single-call {
    display: block;
    margin-top: 10px;
    padding: 6px 10px;
    cursor: pointer;
    font-weight: bold;
}

.page-text {
    margin-top: 20px;
}

.page-text p  {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 22px;
}

.page-text table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.page-text td {
    border: 1px solid #707f88;
    padding: 10px;
    font-size: 15px;

}

.page-text th {
    text-align: center;
    font-weight: bold;
    border: 1px solid #707f88;
    color: #ffffff;
    background-color: #0088cc;
    padding: 10px;
    font-size: 15px;
}

.page-text img {
    height: 300px;
    border: 1px solid #707f88;
    width: auto;
    margin-top: 20px;
    display: block;
}

.pt-sub-logo {
    margin-top: 20px;
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.clients {
    padding-top: 20px;
    padding-bottom: 20px;
}

.clients-ovh {
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}

.clients-ovh ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200%;
}

.clients-ovh li {
    width: 50%;
    float: left;
}

.client {
    width: 20%;
    float: left;
}

.clients img {
    height: 60px;
    margin: auto;
    display: block;
    max-width: 100%;
}

.place {
    margin-top: 20px;
}

.place-logo {
    width: 100%;
    border-bottom: 2px solid #0088cc;
    padding-bottom: 10px;
}

.place-logo-text {
    float: left;
    display: block;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.place-logo-right {
    float: right;
}

.place-button {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 17px;
    border: 1px solid #0088cc;
    color: #0088cc!important;
    background-color: transparent!important;
}

.place-active {
    color: #ffffff!important;
    background-color: #0088cc!important;
}

.place-area {
    width: 100%;
    height: 350px;
    margin-top: 20px;
    background-color: orange;
}

.place-area iframe {
    width: 100%;
    height: 100%;
}

#placeStorage {
    display: none;
}

footer {
    background: none repeat scroll 0 0 #2c364a;
    box-shadow: 0 70px 50px -20px #213040 inset;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 40px;
}

.footer-logo {
    height: 30px;
    width: 142px;
    float: left;
}

.footer-middle {
    float: left;
    margin-left: 50px;
}


.footer-right {
    float: right;
    width: 50%;
}

.footer-right .header-number a {
    color: #969ba5;
    font-size: 15px;
}

.footer-right .header-number a b {
    color: #ffffff;
}

.footer-middle span {
    color: #969ba5;
    font-size: 13px;
    display: block;
}

.sert {
    margin-bottom: 10px;
    border: 1px solid #e2e7eb;
    padding: 10px;
    width: 49%;
    float: left;
    height: 145px;
    margin-left: 2%;
}

.sert:nth-child(2n + 1) {
    margin-left: 0;
}

.sert-img {
    float: left;
    width: 20%;
    max-height: 145px;
}

.sert-right {
    float: right;
    width: 75%;
}

.sert-logo {
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.otz {
    margin-bottom: 50px;
}

.otz-content {
    background-color: #eaf0f2;
    padding: 30px;
    position: relative;
}

.otz-left {
    width: 15%;
    float: left;
    color: #0088cc;
    font-size: 80px;
}

.otz-right {
    float: right;
    width: 82%;
}

.otz-text p {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 19px;
    color: #555555;
}

.otz-doc {
    margin-top: 20px;
}

.otz-icon {
    font-size: 50px;
    float: left;
}

.otz-doc-right {
    float: left;
    margin-left: 20px;
}

.otz-doc-right-logo {
    font-weight: bold;
    font-size: 14px;
    color: #0088cc;
}

.otz-doc-right-link {
    display: block;
    font-size: 14px;
    color: #707f88;
    margin-top: 5px;
}

.otz-angle {
    width: 37px;
    height: 36px;
    position: absolute;
    bottom: -36px;
    left: 60px;
    background: url(../images/angle.png) 0 0 no-repeat;
}

.otz-name {
    margin-top: 20px;
    padding-left: 120px;
}

.otz-name-title {
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.otz-name-company {
    font-size: 15px;
    display: block;
    margin-top: 2px;
}

.cont-left {
    width: 35%;
    float: left;
    margin-top: 20px;
}

.cont-right {
    width: 63%;
    float: right;
}

.cont-sub-logo {
    display: block;
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 30px;
}

.cl-area {
    margin-bottom: 30px;
}

.cl-icon {
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    background-color: #0088cc;
    color: #ffffff;
    border-radius: 100%;
    font-size: 25px;
    float: left;
}

.cl-right {
    float: right;
    width: 80%;
}

.cl-logo {
    font-weight: bold;
    font-size: 18px;
}

.cl-sub-logo {
    font-weight: bold;
    display: block;
    margin-top: 7px;
    color: #666666;
}

.cl-description {
    display: block;
    font-size: 15px;
    margin-top: 7px;
}


.aside-call {
    border: 1px solid #ebeef1;
    padding: 13px;
    margin-top: 20px;
}

.ac-icon {
    height: 200px;
    margin: 10px auto 0;
    display: block;
}

.ac-logo {
    font-weight: bold;
    display: block;
    font-size: 18px;
}

.ac-text {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: #666666;
}

.ac-submit {
    display: block;
    margin-top: 10px;
    padding: 7px 10px;
}


.modal-fade {
    position: fixed;
    top: 0;
    display: none;
    left: 0;
    width: 100%;
    z-index: 200;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

.modal {
    background-color: #fff;
    width: 500px;
    margin: 20px auto;
    border-top: 2px solid #0088cc;
}

.modal-head {
    padding: 30px 36px;
    background: #eaf0f2;
    position: relative;
}
.modal-close {
    position: absolute;
    right: 30px;
    font-size: 23px;
    color: #c2cbd2;
    cursor: pointer;
    top: 30px;
}

.modal-logo {
    font-weight: bold;
    display: block;
    font-size: 24px;
    line-height: 25px;
    color: #2f383d;
}

.modal-description {
    font-size: 13px;
    color: #555;
}

.modal-content {
    padding: 30px;
}

.modal-area {
    margin-bottom: 20px;
}

.m-label {
    display: block;
    color: #444444;
    font-size: 13px;
}

.modal-area  input[type=text], .modal-area input[type=tel] {
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #d7dee3;
    height: 34px;
    line-height: 34px;
    margin-top: 10px;
    color: #555555;
    padding: 6px 12px;
    width: 100%;
    box-sizing: border-box;
}

.modal-area textarea {
    border-radius: 2px;
    box-shadow: none;
    border: 1px solid #d7dee3;
    height: 104px;
    margin-top: 10px;
    color: #555555;
    padding: 6px 12px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.modal-submit {
    display: block;
    padding: 5px 12px;
    width: 100%;
}

.sc-area {
    padding: 20px;
    min-height: 420px;
}

.modal-result {
    display: none;
}

.mobile-icon {
    display: none;
}


.mobile-nav {
    display: none;
}


@media screen and (max-width: 1000px) {

    .container {
        max-width: 760px;
    }

    .header-right {
        display: none;
    }



    .mobile-icon {
        display: block;
        float: right;
        font-size: 30px;
        margin-top: 10px;
        cursor: pointer;
    }

    nav {
        display: none;
    }


    header {
        position: fixed;
        width: 100%;
        background-color: #fff;
        z-index: 100;
        height: 70px;
        top: 0;
        box-sizing: border-box;
        padding-top: 10px;
        padding-bottom: 0;
    }

    body {
        padding-top: 70px;
    }

    .mobile-nav {
        position: fixed;
        right: 0;
        width: 250px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        display: none;
        z-index: 100;
        padding: 0 20px 10px;
    }

    .mobile-link {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding: 5px 10px;
        box-sizing: border-box;
        cursor: pointer;
    }

    .mobile-menu {
        list-style: none;
        margin: 0;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 20px;
    }

    .mobile-menu li {
        display: block;
        font-size: 20px;
    }
    
    .mobile-menu a {
        text-decoration: none;
        color: #000000;
        text-align: right;
        margin-bottom: 10px;
        display: block;
    }

    .mn-number {
        float: right;
        width: 100%;
        margin-bottom: 10px;
    }

    .mn-number a {
        font-size: 15px;
        color: #000;
        display: block;
        float: right;
        text-decoration: none;
    }

    .mn-number .hn-icon {
        float: right;
        margin-left: 10px;
        margin-right: 0;
    }

    .pl {
        width: 48%;
        margin-left: 4%;
    }

    .pl:nth-child(3n + 1) {
        margin-left: 4%;
    }

    .pl:nth-child(2n + 1) {
        margin-left: 0;
    }

    .footer-middle {
        float: right;
    }

    .footer-right {
        width: 100%;
        margin-top: 20px;
    }

    .page-content {
        width: 100%;
    }

    aside {
        width: 100%;
        margin-top: 20px;
    }

    .cont-right  {
        width: 100%;
        margin-top: 10px;
    }

    .cont-left {
        width: 50%;
        float: none;
    }

    .good-img {
        height: 150px;
    }

}

@media screen and (max-width: 800px) {
    .container {
        max-width: 560px;
    }

    .middle-logo {
        font-size: 25px;
    }

    .middle-plus li {
        font-size: 20px;
    }

    .pl {
        height: 200px;
    }

    .mc-left {
        width: 100%;
    }

    .mc-right {
        width: 100%;
    }

    .mc-button {
        width: 100%;
        display: block;
        box-sizing: border-box;
    }

    .footer-right .header-number {
        float: left;
    }

    .modal {
        margin-top: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }

    .ct {
        width: 100%;
        margin-left: 0;
    }

    .good {
        width: 48%;
        margin-left: 4%;
    }

    .good:nth-child(3n + 1) {
        margin-left: 4%;
    }

    .good:nth-child(2n + 1) {
        margin-left: 0;
    }

    .good-img {
        height: 220px;
    }


}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .header-title {
        display: none;
    }

    .pl {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .pl:nth-child(3n + 1) {
        margin-left: 0;
    }

    .mc-logo {
        font-size: 15px;
    }

    .mc-description {
        font-size: 12px;
    }

    .client {
        width: 50%;
        margin-bottom: 10px;
    }

    .place-logo-text {
        float: none;
    }

    .place-logo-right {
        float: none;
        margin-top: 10px;
    }

    .place-area {
        height: 200px;
    }

    .footer-middle {
        width: 100%;
        margin-top: 20px;
    }

    .otz-left {
        display: none;
    }

    .otz-right {
        width: 100%;
    }

    .otz-angle {
        left: 0;
    }

    .otz-name {
        padding-left: 20px;
    }

    .sert {
        width: 100%;
        margin-left: 0;
    }

    .cont-left {
        width: 100%;
    }

    .cl-icon {
        display: none;
    }

    .cl-right {
        width: 100%;
    }

    .good:nth-child(3n + 1) {
        margin-left: 0;
    }

    .good {
        width: 100%;
        margin-left: 0;
    }

    .good-img {
        height: 270px;
    }

    .single-right {
        width: 100%;
    }

    .single-img {
        width: 100%;
    }



}